body {
  text-align: center;
  background-color:rgb(91, 143, 117);
}

#level-title {
  font-family:'Press Start 2P', cursive;
  font-weight:bolder;
  font-size: 3rem;
  margin:  5%;
  color: rgb(138, 21, 227);
  text-shadow: 6px 6px 10px rgba(15, 212, 226, 0.96);
}


.container {
  
  margin: auto;
  padding:auto;
  background-image: url("./Black\ Minimalist\ Believe\ Phone\ Wallpaper.jpg");
   height:auto;
   width: 30%;
   border:10px solid black;
   border-radius:30%;
   box-shadow:0px 0px 5px 5px cyan;
   animation:anime 8s linear 2s alternate infinite;
}
@keyframes anime{
  10%{
    box-shadow:0px 0px 5px 5px rgb(255, 255, 0);
  }
  20%{
    box-shadow:0px 0px 5px 5px green;
  }
  30%{
    box-shadow:0px 0px 5px 5px pink;
  }
  40%{
     box-shadow: 0px 0px 5px 5px palegreen;
  }
  50%{
    box-shadow: 0px 0px 5px 5px blue;
  }
  60%{
    box-shadow: 0px 0px 5px 5px blueviolet;
  }
  70%{
    box-shadow: 0px 0px 5px 5px orangered;
  }
  80%{
    box-shadow: 0px 0px 5px 5px orchid;
  }
  90%{
    box-shadow: 0px 0px 5px 5px greenyellow;
  }
  100%{
    box-shadow: 0px 0px 5px 5px mediumslateblue;
  }
}
.btn {
  padding:1px;
  margin: 90px;
  display: inline-block;
  height: 200px;
  width: 180px;
  border: 10px solid black;
  border-radius: 50%;
  margin:0px;
  
  
}

.game-over {
  background-color: red;
  opacity: 0.9;
}

.red {
  background-color: red;
}

.green {
  background-color: rgb(62, 194, 62);
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: rgb(210, 242, 0);
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer a{
  width:100px;
  height:100px;
  color:rgb(238, 223, 215);
   text-decoration: none;
}

h4{
  text-align: left;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
 